  <div class="post-body">
      <%= form_with model: @question, local: true do |f| %>
       <%= render 'shared/error', model: f.object %>
      <div class="top-contents">
        <div class="solution-content">
          <%= f.label "解決済" %>
          <%= f.check_box(:solution, {class:"check-box", checked_value: 1 , unchecked_value: 0 }) %>
         </div>
        <div class="title-content">
          <div class="title-form"> 
            <% f.label :title %>
            <%= f.text_area(:title, class:"title-box", size:'35x1', placeholder: "タイトル") %>
          </div>
        </div>
      </div>

      <div class="text-contents">
        <div class="text-form"> 
          <% f.label :text %>
          <%= f.text_area(:text, size:'45x10', class:"form-box", placeholder: "質問したい内容") %>
        </div>
      </div>

      <div class="image-content">
        <p class="image-title"></p>
        <div class="image-form"> 
          <% f.label :image %>
          <%= f.file_field :image %>
        </div>
      </div>

  </div> 
      <div class="post-btn">
      <%= f.submit "質問する", class:"post-submit" %>
      </div>
      <% end %>