<div class="posts-content">
    <div class="post-profiele">
      <% if question.user.purpose_id == 2 %>
        <div class="user-logo"><%= image_tag 'Frame2.png', size: '30x30', class:"logo-image" %>
        </div>
      <% elsif  question.user.purpose_id == 3 %>
        <div class="user-logo"><%= image_tag 'Frame3.png', size: '25x25', class:"logo-image" %>
        </div>
      <% end %>
        <p class="post-username"><%= link_to question.user.nickname,user_path(question.user) %></p>
        <p class="user-prefecture">[<%= question.user.prefecture.name %>]</p>
        <div class="post-time">
        <%= render partial: "shared/time", locals: { question: question } %>
        </div>
    </div>

    <%= link_to question_path(question) do %>
    <div class="posts-box">
      <p class="question-title">『<%= question.title %>』</p>
      <p class="question-text"><%= truncate(question.text, length: 30, omission: ".....続きを見る") %></p>
        <% if question.image.attached? %>
          <p class="post-image"><%= image_tag question.image.variant(resize: '300x300') %></p>
        <% end %>
        <% if user_signed_in? && current_user.id != question.user.id %>
          <div class="answer-edit"><%= link_to "回答する", question_path(question) %>
          </div>
        <% end %>
        <div class="response-wrapper">
          <p>コメント:<%= question.answers.count %>件</p>
        </div>
    </div>
    <% end %>
</div>