<div class="wrapper">
  <div class="post-contents">
      <div class="exit-btn"><%= link_to image_tag('exit.png', size:'45x45') , root_path %></div>
    <div class="post-header">
      <h1>編集</h1>
    </div>

    <div class="post-body">
      <%= form_with model: @question, local: true do |f| %>
       <%= render 'shared/error', model: f.object %>
      <div class="top-contents">
         <div class="title-content">
          <div class="title-form"> 
            <% f.label :title %>
            <%= f.text_area(:title, class:"title-box", size:'35x1', placeholder: "タイトル") %>
          </div>
        </div>
      </div>

      <div class="text-contents">
        <p class="text-title"></p>
        <div class="text-form"> 
          <% f.label :text %>
          <%= f.text_area(:text, size:'45x10', class:"form-box", placeholder:"メモなど自由に書いて使ってね！") %>
        </div>
      </div>

      <div class="image-content">
        <p class="image-title"></p>
        <div class="image-form"> 
          <% f.label :image %>
          <%= f.file_field :image %>
        </div>
      </div>

    </div> 
      <div class="post-btn">
      <%= f.submit "編集する", class:"post-submit" %>
      </div>
    <% end %>
  </div>
  <div class="delete-btn">
  <%= button_to "削除する", question_path(@question), method: :delete, class:"delete-submit" %>
  </div>
</div>