<div class="wrapper">
  <div class="side">
     <%= render "/posts/head" %>
  </div>

  <div class="question-header"><%= @question.user.nickname %>さんの質問
  </div>
  
  <div class="posts-wrapper">
    <div class="posts-content">
      <div class="post-profiele">
        <% if @question.user.purpose_id == 2 %>
        <div class="user-logo"><%= image_tag 'Frame2.png', size: '30x30', class:"logo-image" %>
        </div>
        <% end %>
        <% if @question.user.purpose_id == 3 %>
        <div class="user-logo"><%= image_tag 'Frame3.png', size: '30x30', class:"logo-image" %>
        </div>
        <% end %>
        <p class="post-username"><%= link_to @question.user.nickname,user_path(@question.user) %></p>
        <p class="user-prefecture">[<%= @question.user.prefecture.name %>]</p>
      </div>
      <% if @question.image.attached? %>
      <p class="post-image"><%= image_tag @question.image.variant(resize: '150x150') %></p>
      <% end %>
      <p class="question-title">『<%= @question.title %>』</p>
     <p class="question-text"><%= @question.text %></p>
    <% if current_user.id == @question.user_id %>
    <div class="post-edit"><%= link_to "編集する", edit_question_path(@question) %>
    </div>
    <% else %>

    <div id="answers">
      <h4>＜コメント一覧＞</h4>
      <% @question.answers.each do |answer| %>
        <div class="answer">
          <p class="user-info"><%= answer.user.nickname %>: </p>
          <p><%= answer.text%></p>
        </div>
      <% end %>
    </div>

    <div class="answer-form">
      <% if user_signed_in? %>
      <%= form_with model: [@question, @answer], id: "answer-form" do |f| %>
      <%= f.text_area :text , class: "answer-text"%>
      <%= f.submit "回答する", class: "answer-submit" %>
      <% end %>
      <% end %>
    </div>
    <% end %>
    </div>
    <div class="back-page">
    <%= link_to "一覧ページに戻る", root_path %>
    </div>
  </div>
</div>  