<div class="wrapper">
  <div class="side">
     <%= render "/posts/head" %>
  </div>

  <div class="question-header"><%= @question.user.nickname %>さんの質問
  </div>
  
  <div class="posts-wrapper">
    <div class="posts-content">
      <div class="post-show-first-line">
       <div class="post-profiele">
        <% if @question.user.purpose_id == 2 %>
        <div class="user-logo"><%= image_tag 'Frame2.png', size: '30x30', class:"logo-image" %>
        </div>
        <% end %>
        <% if @question.user.purpose_id == 3 %>
        <div class="user-logo"><%= image_tag 'Frame3.png', size: '30x30', class:"logo-image" %>
        </div>
        <% end %>
        <p class="post-username"><%= link_to @question.user.nickname,user_path(@question.user) %></p>
        <p class="user-prefecture">[<%= @question.user.prefecture.name %>]</p>
       </div>
        <% if user_signed_in? && current_user.id == @question.user_id %>
         <div class="post-edit"><%= link_to "編集", edit_question_path(@question) %>
        </div>
        <% end %>
      </div>
      <% if @question.image.attached? %>
      <p class="post-image"><%= image_tag @question.image.variant(resize: '150x150') %></p>
      <% end %>
      <p class="question-title">『<%= @question.title %>』</p>
     <p class="question-text"><%= @question.text %></p>
      <div id="answers">
      <h4>＜コメント一覧＞</h4>
      <% @question.answers.each do |answer| %>
        <div class="answer">
          <div class="answer-first-line">
            <p class="user-info"><%= link_to answer.user.nickname,user_path(answer.user) %></p>
            <% if user_signed_in? && answer.user_id == current_user.id %>
            <%= button_to '削除', question_answer_path(answer.id), method: :delete, class:"answer-delete" %>
            <% end %>
          </div>
          <p class="answer-info"><%= answer.text%></p>
        </div>
      <% end %>
    </div>

    <div class="answer-form">
      <% if user_signed_in? %>
      <%= form_with model: [@question, @answer], id: "answer-form" do |f| %>
      <%= f.text_area :text , class: "answer-text"%>
      <%= f.submit "回答する", class: "answer-submit" %>
      <% end %>
      <% end %>
      
    </div>
   </div>
    <div class="back-page">
    <%= link_to "一覧ページに戻る", questions_path %>
    </div>
  </div>
</div>  