<div class="wrapper">
  <div class="side">
      <%= render "/posts/head" %>
  </div>
  
  <div class="join-wrapper">

    <div class="registration-wrapper">
      <h2>アボカド登録</h2>
      
      <div class="registration-form">
        <%= form_with model: @avocado, local: true do |f| %>
        <%= render 'shared/error', model: f.object %>
          <div class="form-content">
            <p class="field-title">アボカドの名前</p>
            <div class="field"> 
            <%= f.text_field :name, placeholder:"アボカド" %>
            </div>
          </div>

          <div class="form-content">
            <p class="field-title">栽培開始日（任意）</p>
           <div class="field"> 
            <% f.label :birth_day %>
            <%= raw sprintf(
                            f.date_select(:birth_day,
                              use_month_number: true,
                              prompt:'--',
                              start_year:       (Time.now.year),
                              end_year:         1970,
                              date_separator:'/')) %>
            </div>
          </div>

          <div class="form-content">
            <p class="field-title">最後の水やり（任意）</p>
            <div class="field"> 
             <% f.label :watering %>
             <%= raw sprintf(
                            f.date_select(:watering,
                              use_month_number: true,
                              prompt:'--',
                              start_year:       (Time.now.year),
                              end_year:         2023,
                              date_separator:'/')) %>
            </div>
          </div>

          <div class="form-content">
            <p class="field-title">最後の植替え（任意）</p>
            <div class="field"> 
             <% f.label :transplant %>
             <%= raw sprintf(
                            f.date_select(:transplant,
                              use_month_number: true,
                              prompt:'--',
                              start_year:       (Time.now.year),
                              end_year:         2023,
                              date_separator:'/')) %>
            </div>
          </div>
          
          <div class="form-content">
            <p class="field-title">最後の肥料（任意）</p>
            <div class="field">
              <% f.label :fertilizer %>
              <%= raw sprintf(
                            f.date_select(:fertilizer,
                              use_month_number: true,
                              prompt:'--',
                              start_year:       (Time.now.year),
                              end_year:         2023,
                              date_separator:'/')) %>
            </div>
          </div>

            <div class="actions">
              <%= f.submit "登録する" %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="login">
      <%= link_to "トップページにもどる", root_path, class: "btn" %>
    </div>
  </div>
</div>