<%= render "/posts/head" %>

<div class="mypage-wrapper">

  <%# 登録・編集コマンド %>
  <% if user_signed_in? && current_user.id == @user.id %>
  <div class="edit-wrapper">
    <% unless current_user.id == 2 %>
    <div class="edit-profilet"><%= link_to "プロフィール編集" , edit_user_path(@user), class: "edit-btn" %>
    </div>
    <% end %>
    <% unless Avocado.exists?(user_id: @user.id) %>
    <div class="edit-avocado"><%= link_to "アボカドの登録" ,  new_avocado_path(@avocado), class: "edit-btn" %>
    </div>
    <% end %>
    <% if Avocado.exists?(user_id: @user.id)  %>
    <div class="edit-avocado"><%= link_to "アボカドの編集" ,  edit_avocado_path(@avocado), class: "edit-btn" %>
    </div>
    <% end %>
  </div>
  <% end %>

  <%# （左側）ユーザー情報 %>
  <div class="contents-wrapper">
    <div class ="user-contents">
      <div class="user-acount">
        <div class="user-name"><%= @user.nickname %></div>
        <div class="user-purpose-image">
          <% if @user.purpose_id == 2 %>
          <%= image_tag 'Frame2.png', size: '100x100' %>
          <% elsif @user.purpose_id == 3 %>
          <%= image_tag 'Frame3.png', size: '100x100' %>
          <% end %>
        </div>
      </div>
      <dl class="user-detail">
          <dt>目的</dt> 
          <dd><%= @user.purpose.name %></dd>
          <dt>都道府県</dt> 
          <dd><%= @user.prefecture.name %></dd>
      </dl>
    </div>

    <%# (右側)アボカド情報 %>
    <div class="avocado-contents">
      <% unless Avocado.exists?(user_id: @user.id) %>
      <div class="avocado-name"><%= "#{@user.nickname}さんのアボカド" %>
      </div>
        <p class="start-date">栽培開始: 未登録</p>
        <div class="avocado-detail">
          <p>最後の水やり: 未登録</p> 
          <p>最後の肥料： 未登録</p> 
          <p>最後の植替え: 未登録</p>
        </div>
      <% end %>
      <% if Avocado.exists?(user_id: @user.id)  %>
      <div class="avocado-name"><%= "#{@user.nickname}さんの#{@avocado.name}" %>
      </div>
       <% if @avocado.present? && @avocado.birth_day.present? %>
       <%# Date.today = 2024-01-12, to_iは、引算した結果を整数に変換するために記述  %>
       <p class="start-date"><%= "栽培開始: #{@avocado.birth_day} (#{(Date.today - @avocado.birth_day + 1).to_i}日目)" %></p>
       <% else %>
       <p class="start-date">栽培開始: 未登録</p>
       <% end %>
      <div class="avocado-detail">
        <% if @avocado.watering.present? %>
          <p>最後の水やり: <%= @avocado.watering %></p>
        <% else %>
          <p>最後の水やり: 未登録</p> 
        <% end %>
        <% if @avocado.fertilizer.present? %>
          <p>最後の肥料: <%= @avocado.fertilizer %></p>
        <% else %>
          <p>最後の肥料: 未登録</p> 
        <% end %>
        <% if @avocado.transplant.present? %>
          <p>最後の植替え: <%= @avocado.transplant %></p>
        <% else %>
          <p>最後の植替え: 未登録</p> 
        <% end %>
        </div>
      <% end %>
      <div class="guides">
        <% if @avocado.present? && @avocado.birth_day.present? %>
        <%= render partial: 'guide', locals: {avocado: @avocado} %>
        <% else %>
        <p>アボカドの情報を登録してね！</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# ユーザーの投稿一覧 %>
<div class="post-index-tab">
    <label>
      <input type="radio" name="post-index-tab" checked>
      投稿
    </label>
    <div>
      <div class="posts-wrapper">
        <% @posts.where(user_id: @user.id).each do |post| %>
        <div class="posts-content">
          <%= render partial: "posts/post", locals: {post: post} %>
          <div class="response-wrapper">
            <p>コメント:<%= post.comments.count %>件</p>
            <div class="like-content", id="like-btn<%= post.id %>">
              <p>いいね <%= post.likes.count %></p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <label>
      <input type="radio" name="post-index-tab">
      質問
    </label>
    <div>
      <div class="posts-wrapper">
        <% @questions.where(user_id: @user.id).each do |question| %>
          <%= render partial: "questions/question", locals: { question: question } %>
        <% end %>
      </div>
    </div>
    <label>
      <input type="radio" name="post-index-tab">
      いいね
    </label>
    <div>
      <div class="posts-wrapper">
      <% @user.likes.each do |like| %>
      <% post = like.post %>
        <% if post.present? %>
          <div class="posts-content">
            <%= render partial: "posts/post", locals: {post: post} %>
            <div class="response-wrapper">
              <p>コメント:<%= post.comments.count %>件</p>
              <div class="like-content", id="like-btn<%= post.id %>">
                <p>いいね <%= post.likes.count %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <label id="answer-tab">
      <input type="radio" name="post-index-tab">
      回答
    </label>
    <div>
      <div class="posts-wrapper">
        <% displayed_questions = Set.new %>
        <% @user.answers.each do |answer| %>
        <% question = answer.question %>
        <% if question.present? && !displayed_questions.include?(question.id)%>
          <%= render partial: "questions/question", locals: { question: question } %>
          <% displayed_questions.add(question.id) %>
        <% end %>
        <% end %>
      </div>
    </div>
</div>