<%= render "/posts/head" %>

<div class="mypage-wrapper">
  <div class="edit-wrapper">
    <div class="edit-profilet"><%= link_to "プロフィール編集" , edit_user_path(@user), class: "edit-btn" %>
    </div>
    <% unless Avocado.exists?(user_id: @user.id) %>
    <div class="edit-avocado"><%= link_to "アボカドの登録" ,  new_avocado_path(@avocado), class: "edit-btn" %>
    </div>
    <% end %>
    <% if Avocado.exists?(user_id: @user.id)  %>
    <div class="edit-avocado"><%= link_to "アボカドの編集" ,  edit_avocado_path(@avocado), class: "edit-btn" %>
    </div>
    <% end %>
  </div>
  <div class="contents-wrapper">
    <div class ="user-contents">
      <div class="user-acount">
        <div class="user-name"><%= @user.nickname %></div>
        <div class="user-purpose-image">
          <%= image_tag 'Frame 1.png', size: '100x100' %>
        </div>
      </div>
      <dl class="user-detail">
          <dt>目的</dt> 
          <dd><%= @user.purpose.name %></dd>
          <dt>都道府県</dt> 
          <dd><%= @user.prefecture.name %></dd>
          <dt>自己紹介</dt> 
          <dd><%= truncate(@user.introduce, length: 50) do %>
              <%= link_to '続きを読む', "#"  %>
          </dd>
          <% end %>
          <% if @user.introduce = "" %>
          <dd><%= 'まだ記入はありません' %></dd>
          <% end %>
      </dl>
    </div>

    <div class="avocado-contents">
      <% unless Avocado.exists?(user_id: @user.id) %>
      <div class="avocado-name"><%= "#{@user.nickname}さんのアボカド" %>
      </div>
      <p><%= "栽培開始日 : 未登録" %></p>
        <dl class="avocado-detail">
          <dt>最後の水やり</dt> 
          <dd>未登録</dd>
          <dt>最後の肥料</dt> 
          <dd>未登録</dd>
          <dt>最後の植替え</dt> 
          <dd>未登録</dd>
        </dl>
      <% end %>
      <% if Avocado.exists?(user_id: @user.id)  %>
      <div class="avocado-name"><%= "#{@user.nickname}さんの#{@avocado.name}" %>
      </div>
       <p><%= "栽培開始日 : #{@avocado.birth_day}" %></p>
        <dl class="avocado-detail">
          <dt>最後の水やり</dt> 
          <dd><%= @avocado.watering %></dd>
          <dt>最後の肥料</dt> 
          <dd><%= @avocado.fertilizer %></dd>
          <dt>最後の植替え</dt> 
          <dd><%= @avocado.transplant %></dd>
        </dl>
      <% end %>
      <div class="guides">
        <p>ここにガイドを入れるよ</p>
      </div>
    </div>
  </div>
  <div class="sub-contents">
    <%= link_to "投稿", root_path, class:"sub-content" %>
    <%= link_to "いいね", root_path, class:"sub-content" %>
    <%= link_to "質問", root_path, class:"sub-content" %>
    <%= link_to "回答", root_path, class:"sub-content" %>
  </div>
</div>