<%= render "/posts/head" %>

<div class="mypage-wrapper">
  <% if user_signed_in? && current_user.id == @user.id %>
  <div class="edit-wrapper">
    <div class="edit-profilet"><%= link_to "プロフィール編集" , edit_user_path(@user), class: "edit-btn" %>
    </div>
    <% unless Avocado.exists?(user_id: @user.id) %>
    <div class="edit-avocado"><%= link_to "アボカドの登録" ,  new_avocado_path(@avocado), class: "edit-btn" %>
    </div>
    <% end %>
    <% if Avocado.exists?(user_id: @user.id)  %>
    <div class="edit-avocado"><%= link_to "アボカドの編集" ,  edit_avocado_path(@avocado), class: "edit-btn" %>
    </div>
    <% end %>
  </div>
  <% end %>
  <div class="contents-wrapper">
    <div class ="user-contents">
      <div class="user-acount">
        <div class="user-name"><%= @user.nickname %></div>
        <div class="user-purpose-image">
          <% if @user.purpose_id == 2 %>
          <%= image_tag 'Frame2.png', size: '100x100' %>
          <% elsif @user.purpose_id == 3 %>
          <%= image_tag 'Frame3.png', size: '100x100' %>
          <% end %>
        </div>
      </div>
      <dl class="user-detail">
          <dt>目的</dt> 
          <dd><%= @user.purpose.name %></dd>
          <dt>都道府県</dt> 
          <dd><%= @user.prefecture.name %></dd>
          <dt>自己紹介</dt> 
          <dd><%= truncate(@user.introduce, length: 50) do %>
              <%= link_to '続きを読む', "#"  %>
          </dd>
          <% end %>
          <% if @user.introduce = "" %>
          <dd><%= 'まだ記入はありません' %></dd>
          <% end %>
      </dl>
    </div>

    <div class="avocado-contents">
      <% unless Avocado.exists?(user_id: @user.id) %>
      <div class="avocado-name"><%= "#{@user.nickname}さんのアボカド" %>
      </div>
        <p class="start-date">栽培開始日 : 未登録</p>
        <div class="avocado-detail">
          <p>最後の水やり: 未登録</p> 
          <p>最後の肥料： 未登録</p> 
          <p>最後の植替え: 未登録</p>
        </div>
      <% end %>
      <% if Avocado.exists?(user_id: @user.id)  %>
      <div class="avocado-name"><%= "#{@user.nickname}さんの#{@avocado.name}" %>
      </div>
       <% if @avocado.birth_day.present? %>
       <p class="start-date"><%= "栽培開始日 : #{@avocado.birth_day}" %></p>
       <% else %>
       <p class="start-date">栽培開始日 : 未登録</p>
       <% end %>
      <div class="avocado-detail">
        <% if @avocado.watering.present? %>
          <p>最後の水やり: <%= @avocado.watering %></p>
        <% else %>
          <p>最後の水やり: 未登録</p> 
        <% end %>
        <% if @avocado.fertilizer.present? %>
          <p>最後の肥料: <%= @avocado.fertilizer %></p>
        <% else %>
          <p>最後の肥料: 未登録</p> 
        <% end %>
        <% if @avocado.transplant.present? %>
          <p>最後の植替え: <%= @avocado.transplant %></p>
        <% else %>
          <p>最後の植替え: 未登録</p> 
        <% end %>
        </div>
      <% end %>
      <div class="guides">
        <p>ここにガイドを入れるよ</p>
      </div>
    </div>
  </div>
  <div class="sub-contents">
    <%= link_to "投稿", root_path, class:"sub-content" %>
    <%= link_to "いいね", root_path, class:"sub-content" %>
    <%= link_to "質問", root_path, class:"sub-content" %>
    <%= link_to "回答", root_path, class:"sub-content" %>
  </div>
</div>