<div class="wrapper">
  <div class="side">
      <%= render "/posts/head" %>
  </div>
  
  <div class="join-wrapper">
  <h2 class ="title">今日も来てくれてありがとう！</h2>
    <div class="registration-wrapper">
      <%= flash[:alert] %>
      <h2>ログイン</h2>
      
      <div class="registration-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-content">
            <p class="field-title">メールアドレス</p>
            <div class="field"> 
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          
          <div class="form-content">
            <p class="field-title">パスワード</p>
            <div class="field">
            <%= f.password_field :password, placeholder:"半角英数6文字以上", autocomplete: "new-password" %>
            </div>
          </div>

            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="login">
      <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn" %>
    </div>
  </div>
</div>
