 <div class="header-wrapper">
  <div class="header">
   <div class="titles-wrapper">
    <div class="main-title">
    <%= image_tag 'food117.png', size: '30x30' %>
    <h1 class="logo"><%= link_to 'アボカドサークル', root_path %></h1>
    </div>
    <h5 class="sub-title">アボカドをみんなで育てよう</h5>
   </div>
      <ul class="top-btn">
      <% if user_signed_in? %>
      <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "log-out" %></li>
      <% else %>
      <li><%= link_to "新規登録", new_user_registration_path, class: "btn-text"%></li>
      <% end %>
      </ul>
  </div>

  <nav>
    <% if user_signed_in? %>
    <%= link_to "#{current_user.nickname}", user_path(current_user), class:"mypage-btn"%>
    <% else %>
    <ul class="signin-button">
    <li><%= link_to "ログイン", new_user_session_path, class: "mypage-btn" %></li>
    <li><%= button_to 'ゲストログイン', users_guest_sign_in_path, data:{turbo_method: :post}, class: "log-out" %></li>
    </ul>
    <% end %>
        <ul class="nav-links">
          <li class="menu-list", id="information">お知らせ</li>
          <li class="menu-list"><%= link_to '質問をみる',questions_path, class:"menu-list" %></li>
          <li><%= link_to '質問する', new_question_path, class:"menu-list" %></li>
          <li class="menu-list", id="watching-record"><%= link_to '投稿をみる', root_path, class:"menu-list" %></li>
          <li class="menu-list"><%= link_to "投稿する", new_post_path, class:"menu-list" %></li>
        </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>