<div class="wrapper">
  <div class="post-contents">
      <div class="exit-btn"><%= link_to image_tag('exit.png', size:'45x45') , root_path %></div>
    <div class="post-header">
      <h1>編集</h1>
    </div>

    <div class="post-body">
      <%= form_with model: @post, local: true do |f| %>
       <%#= render 'shared/error', model: f.object %>
      <div class="top-contents">
        <div class="date-content">
          <p class="date-title">記録日</p>
          <div class="date-form"> 
            <% f.label :date %>
            <%= f.date_field(:date, class:"form-box") %>
          </div>
        </div>
        <div class="condition-content">
          <p class="condition-title">調子</p>
          <div class="condition-form"> 
            <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"form-box"}) %>
          </div>
        </div>
      </div>

      <div class="text-contents">
        <p class="text-title"></p>
        <div class="text-form"> 
          <% f.label :text %>
          <%= f.text_area(:text, size:'45x10', class:"form-box", placeholder:"メモなど自由に書いて使ってね！") %>
        </div>
      </div>

      <div class="image-content">
        <p class="image-title"></p>
        <div class="image-form"> 
          <% f.label :image %>
          <%= f.file_field :image %>
        </div>
      </div>

    </div> 
      <div class="post-btn">
      <%= f.submit "編集する", class:"post-submit" %>
      </div>
    <% end %>
  </div>
  <div class="delete-btn">
  <%= button_to "削除する", post_path(@post), method: :delete, class:"delete-submit" %>
  </div>
</div>