<div class="wrapper">
  <div class="side">
    <%= render "head" %>
  </div>

  <%= render "main" %>
  
  <div class="posts-wrapper">
   <% @posts.each do |post| %>
    <div class="posts-content">
      <div class="post-profiele">
        <% if post.user.purpose_id == 2 %>
        <div class="user-logo"><%= image_tag 'Frame 1.png', size: '30x30', class:"logo-image" %></div>
        <% end %>
        <p class="post-username"><%= link_to post.user.nickname,user_path(post.user) %></p>
        <p class="user-prefecture">[<%= post.user.prefecture.name %>]</p>
        <% if post.user_id == current_user.id %>
        <% end %>
      </div>
     <div class="posts-box">
      <%= link_to (post_path(post)) do %>
        <div class="post-details">
          <p class="post-date">記録日：<%= post.date %></p>
          <p class="post-condition">状態：<%= post.condition.name %></p>
        </div>
      
      <% if post.image.attached? %>
       <p class="post-image"><%= image_tag post.image.variant(resize: '150x150') %></p>
      <% end %>
      <p class="post-text"><%= truncate(post.text, length: 30) do %></p>
      <% end %>
     <% end %>
     </div>
    </div>
  <% end %>
  </div>
</div>

