<div class="wrapper">
  <div class="side">
    <%= render "head" %>
  </div>

  <div class="post-index-tab">
    <label>
      <input type="radio" name="post-index-tab" checked>
      みんなの投稿
    </label>
    <div class="posts-wrapper">
      <% @posts.each do |post| %>
      <div class="posts-content">
        <%= render partial: "post", locals: {post: post} %>
        <div class="response-wrapper">
          <p>コメント:<%= post.comments.count %>件</p>
          <div class="like-content", id="like-btn<%= post.id %>">
            <% if user_signed_in? && post.liked_by?(current_user)%>
              <%=button_to "いいね済", post_likes_path(post.id), method: :delete, class: "post_likes" %>
            <% else %>
              <%=button_to "いいね", post_likes_path(post.id), method: :post, class: "post_likes" %>
            <% end %>
            <p><%= post.likes.count %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <% if user_signed_in? && Post.exists?(user_id: current_user.id) %>
    <label>
      <input type="radio" name="post-index-tab">
      自分の投稿
    </label>
    <div>
      <div class="posts-wrapper">
      <% @posts.where(user_id: current_user.id).each do |post| %>
      <div class="posts-content">
        <%= render partial: "post", locals: {post: post} %>
        <div class="response-wrapper">
          <p>コメント:<%= post.comments.count %>件</p>
          <div class="like-content", id="like-btn<%= post.id %>">
            <p>いいね <%= post.likes.count %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    </div>
    <% end %>
  </div>
</div>

