<div class="wrapper">
  <div class="side">
    <%= render "head" %>
  </div>

  <div class="nav-bar">
    <%= render "main" %>
  </div>
  
  <div class="posts-wrapper">
    <div class="posts-content">
      <div class="post-show-first-line">
        <div class="post-profiele">
          <% if @post.user.purpose_id == 2 %>
          <div class="user-logo"><%= image_tag 'Frame2.png', size: '30x30', class:"logo-image" %>
          </div>
          <% end %>
          <% if @post.user.purpose_id == 3 %>
          <div class="user-logo"><%= image_tag 'Frame3.png', size: '30x30', class:"logo-image" %>
          </div>
          <% end %>
          <p class="post-username"><%= @post.user.nickname %></p>
          <p class="user-prefecture">[<%= @post.user.prefecture.name %>]</p>
        </div>
        <% if user_signed_in? && current_user.id == @post.user_id %>
         <div class="post-edit"><%= link_to "編集", edit_post_path(@post) %>
         </div>
        <% end %>
      </div>
      <div class="post-details">
        <p class="post-date">記録日：<%= @post.date %></p>
        <p class="post-condition">状態：<%= @post.condition.name %></p>
      </div>
      <% if @post.image.attached? %>
       <p class="post-image"><%= image_tag @post.image.variant(resize: '150x150') %></p>
      <% end %>
      <p class="post-text"><%= @post.text %></p>
      
      <div id="comments">
      <h4>＜コメント一覧＞</h4>
        <% @post.comments.each do |comment| %>
          <div class="comment">
            <div class="comment-first-line">
              <p class="user-info"><%= comment.user.nickname %>: </p>
              <% if user_signed_in? && comment.user_id == current_user.id %>
              <%= button_to '削除', post_comment_path(comment.id), method: :delete, class:"comment-delete" %>
              <% end %>
            </div>
            <p><%= comment.text%></p>
          </div>

        <% end %>
      </div>

      <div class="comment-form">
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment], id: "comment-form" do |f| %>
            <%= f.text_area :text , class: "comment-text"%>
            <%= f.submit "コメントをする", class: "comment-submit" %>
          <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
  <div class="back-page">
    <%= link_to "一覧ページに戻る", root_path %>
  </div>
</div>  